
<div class="content-body">
  <div class="page-content">
    <h1>{{project?.name}} Details</h1>

    <div class="details" *ngIf="project != null">
      
        <div>
          <label>Name</label>
          <input [(ngModel)]="project.name" />
        </div>
      
        <div>
          <label>Type</label>
          <select [(ngModel)]="project.config.type" >
            <option value="url">Web</option>
          </select>
        </div>
      
        <div>
          <label>Url</label>
          <input [(ngModel)]="project.config.url" />
        </div>
      
        <button (click)="save()">Save</button>
        <button (click)="executeRun()">Run Job</button>
      
      </div>
  
  </div>
  <div class="page-content">
    
      <h1>Jobs</h1>
      <div>
          <div *ngFor="let j of jobs">
            <a href="#/job/{{j.id}}">{{j.createdDate}}</a>
          </div>
      </div>
  
  </div>
</div>

