
<div class="content-body">
    <div class="page-content">
  
      <h1>Job <button (click)="setAsBaseline()">Set as baseline</button></h1>

      <div>{{job?.id}}</div>
      <div>{{job?.status}}</div>
      <div>{{job?.createdDate}}</div>


      <button (click)="showOriginal = true; showCurrent = false;">Original</button>
      <button (click)="showOriginal = false; showCurrent = true;">Current</button>
      Show Diff <input type="checkbox" ([ngModel])="showDiff" />

      <div>
        <div class="output-panel" >
          <img [src]="baselineUrl" *ngIf="showOriginal" />
          <img [src]="outputUrl" *ngIf="showCurrent"/>
          <img class="diff-img" [src]="diffUrl" *ngIf="showDiff" />
        </div>
      </div>
      <div style="clear: both;"></div>


  </div>
</div>


