<div >


  <div class="start-pane-parent">

      <div class="start-pane" >

        <div>
            Effortlessly maintain design standards across time and device
        </div>
      </div>
  </div>


  <div style="background: white;">

    <div style=" margin: auto; padding: 30px;">
        <h1 style="text-align: center; font-size: 42px; color: #4472ca;">How it works</h1>

        <div class="steps">
          <div class="step">
            <img  src="/assets/home/step1.svg" />
            <div>Enter the url to your site</div>
          </div>

          <div class="step">
            <img  src="/assets/home/step2.svg" />
            <div>We find and map all the webpages</div>
          </div>
          <div class="step">
              <img  src="/assets/home/step3.svg" />
              <div>We detect and notify you when there is a visual change</div>
          </div>
          <div class="step">
              <img  src="/assets/home/step4.svg"  />
              <div>Simply approve or reject the change</div>
          </div>

        </div>


        <div style="text-align: center;">
          <button class="learn-more">LEARN MORE</button>        
      </div>
  
    </div>

  </div>

      <!--
    <div class="page-content">

      <img src="/assets/landing1.jpg" />

      <div class="content">
        
      </div>
    </div>
  -->
</div>


