/* Coolors Exported Palette - coolors.co/0a369d-4472ca-5e7ce2-92b4f4-cfdee7 */

/* HSL */
$color1: hsla(222%, 88%, 33%, 1);
$color2: hsla(219%, 56%, 53%, 1);
$color3: hsla(226%, 69%, 63%, 1);
$color4: hsla(219%, 82%, 76%, 1);
$color5: hsla(203%, 33%, 86%, 1);

/* RGB */
$color1: #0a369d;
$color2: #4472ca;
$color3: #5e7ce2;
$color4: rgba(146, 180, 244, 1);
$color5: #cfdee7;