<div class="content-body">
  <div class="page-content">
    <div class="content">

      <h1 class="title">Who is Calipr for?</h1>
      <p style="text-align: center;">
        <img src="/assets/learn/draw.svg" />
      </p>
      
      <p>
        You spend hours in Photoshop creating the perfect design but the website never quite matches.  You spend a week working
        with your developers trying to clean up the last details.  A week later everything is off again.
      </p>

      <p>
        Calipr was built for you.  
      </p>

      <p><br/></p>
      <h1>Step 1: Register your website</h1>
      <p>
        Simply entery the base URL to your website.  We find all the pages from here.
      </p>

      <h1>Step 2: Choose which browsers you want to check</h1>
      <p>
        Select the browsers you want to watch for.  We support the following options:
      </p>
      <ul>
        <li>Chrome</li>
        <li>iPhone</li>
        <li>iPad</li>
        <li>Android</li>
      </ul>
      <p>
        Every night we look at your website to find any changes.  When a change is detected we send an email notification.
      </p>


      <h1>Step 3: Approve or Reject the changes</h1>
      <p style="text-align: center;">
        <img src="/assets/learn/approve.png" />
      </p>
      <p>
        When a change is detected you will be prompted with a screen showing the difference in red.  If the change
        is correct simply approve.  If the change is incorrect, reject and your developers will receive an email
        with the relevant information.
      </p>


      <h1>Sign up for the beta</h1>
      <p>
        If Calipr sounds like a good fit sign up for our free beta.  If you have any questions please send an email to 
        <a href="mailto:matt@calipr.co">matt@calipr.co</a>
        <br/>
        <a class="signup" href="https://www.surveymonkey.com/r/RG2YPRN">Sign up for the beta</a>
      </p>
    </div>
  </div>
</div>