
/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

html{
    height: 100%;
}

body 
{
    font-family: 'Nunito', serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    height: 100%;
    color: #333;
    padding: 0;
    margin: 0;
}

app-root 
{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.content-body
{
    padding: 20px 30px;
}

.page-content
{
    max-width: 1200px;
    /*border-top: 2px solid #5e7ce2;*/
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    margin: auto;
}


.page-content > h1
{
    padding: 0 10px;
}

h1
{
    color: #0a369d;
}